.dialog-overview {
	width: 100%;
	height: 100%;

	flex-direction: column;
	align-items: center;

	border: none;

	background: #00000085;

	overflow: hidden;
}

.dialog-overview[open] {
	display: flex;
}

.dialog-overview:modal {
	max-width: 100vw;
	max-height: 100vh;
}

.dialog-overview::backdrop {
	backdrop-filter: blur(10px);
}

.dialog-overview__head {
	width: 100%;
	height: 4rem;

	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;

	color: #fff;

	padding: 0.55rem;
	border-block-end: var(--novely-px) solid #ffc7df;
}

.dialog-overview__head > span {
	font-size: 1.25rem;
	line-height: 1.2;
}

.dialog-overview__body {
	width: 100%;
	height: calc(100vh - 4rem);

	display: flex;
	align-items: baseline;
	justify-content: center;

	overflow-x: hidden;
	overflow-y: scroll;

	padding: 0 var(--novely-saves-list-border-width, 0.675rem) 0 0;
}

.dialog-overview__body::-webkit-scrollbar {
	width: var(--novely-saves-list-border-width, 0.675rem);
}

.dialog-overview__body::-webkit-scrollbar-track {
	background-color: var(--novely-scrollbar-track-bg-color, #ffe9f3);
}

.dialog-overview__body::-webkit-scrollbar-thumb {
	background-color: var(--novely-scrollbar-thumb-bg-color, #ff66a8);
}

.dialog-overview__body::-webkit-scrollbar-thumb:hover {
	background-color: var(--novely-scrollbar-thumb-hover-bg-color, #ff4596);
}

/* todo: fix spacing is too large in chromium */
.dialog-overview__list {
	border-collapse: separate;
	border-spacing: 0.75rem;

	padding: 1rem;

	width: 60%;
}

.dialog-overview__list-item {
	height: 1.2rem;

	font-size: 1.45rem;

	vertical-align: top;
}

.dialog-overview__list-item__name {
	color: #ed5c87;
}

.dialog-overview__list-item__text {
	color: #fff;
}

.dialog-overview__button-audio-control {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 2cap;
	width: 2cap;

	border: none;
	padding: 0;

	color: #fff;
	background-color: #00000017;

	box-shadow: 0 0 0 var(--novely-px) #00000033;

	border-radius: 0.2rem;
	padding: 0.4rem;

	cursor: pointer;
}

@media (max-aspect-ratio: 0.8) {
	.dialog-overview__list {
		width: 100%;
	}
}

@supports (-moz-appearance: none) {
	.dialog-overview__body {
		padding: 0;

		scrollbar-gutter: stable;
		scrollbar-color: var(--novely-scrollbar-thumb-bg-color, #ff66a8)
			var(--novely-scrollbar-track-bg-color, #ffcbe1);
	}

	.dialog-overview__body:active {
		scrollbar-color: var(--novely-scrollbar-thumb-hover-bg-color, #ff4596)
			var(--novely-scrollbar-track-bg-color, #ffcbe1);
	}
}

[data-dialog-overview-button] {
	display: none;
}
