.dialog-overview {
	width: 100%;
	height: 100%;

	border: none;

	background: transparent;
}

.dialog-overview:modal {
	max-width: 100vw;
	max-height: 100vh;
}

.dialog-overview::backdrop {
	backdrop-filter: blur(10px);
	background-color: #00000072;
}

.dialog-overview__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	color: #fff;

	padding: 1rem;

	border-bottom: 1px solid red;
}

.dialog-overview__head > span {
	font-size: 1.45rem;
	line-height: 1.2;
}

.dialog-overview__list {
	padding: 1rem;
}

.dialog-overview__list-item {
	margin-bottom: 1rem;
}
