.select__label {
	background: var(--novely-select-label-background, #ffe9f3);

	color: var(--novely-select-color, #000);
	font-size: 1.02rem;

	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
}

@media (max-aspect-ratio: 0.8) {
	.select__label {
		min-width: 70%;
	}
}

@media (max-aspect-ratio: 0.26) {
	.select__label {
		min-width: 100%;
	}
}
