input[name="novely-input"] {
	position: relative;
	display: block;

	border: none;

	padding: 0.25rem;

	border-radius: 0.25rem;

	min-width: min(10rem, 100%);
	max-width: 100%;
}

input[name="novely-input"][type="text"],
input[name="novely-input"][type="number"],
input[name="novely-input"][type="password"] {
	box-shadow: 0 0 0 var(--input-box-shadow-spread-radius, .15rem) var(--novely-input-border-color, #ffc7df);

	outline-offset: var(--input-box-shadow-spread-radius, .15rem);
}

input[name="novely-input"][type="checkbox"] {
	min-width: unset;
}

@supports (-webkit-appearance: none) {
	input[name="novely-input"][type="number"] {
		appearance: textfield;
	}
}
