/*
 * @see https://loading.io/css/
 */
.loading {
	overflow: hidden;

	background: black;

	display: flex;
	justify-content: center;
	align-items: center;
}

.loading.overlay {
	position: absolute;

	inset: 0;
}

.loading.game {
	z-index: 30;
}
