.action-dialog {
	min-height: 26vh;
	width: 75%;

	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0.4rem;
	z-index: 22;

	text-align: left;

	flex-direction: column;
	justify-content: flex-end;

	cursor: default;
}

.action-dialog--visible {
	display: flex;
}

.action-dialog--hidden {
	display: none;
}

.action-dialog-container {
	height: 100%;
	min-height: 18vh;

	flex-grow: 1;

	color: var(--novely-dialog-color, #ffffff);

	border: var(--novely-dialog-border-width, 0.18rem) solid var(--novely-dialog-border-color, #ffffff);
	border-radius: var(--novely-dialog-border-radius, .875rem);
	box-shadow: 0.063rem 0.063rem 0.25rem var(--novely-dialog-box-shadow-color, #00000072);

	/* prettier-ignore */
	background-image: var(--novely-dialog-background-image, radial-gradient(#d6608998 20%, transparent 20%), radial-gradient(#d6608998 20%, transparent 20%));
	background-color: var(--novely-dialog-background-color, #f092b4d8);
	background-position: var(--novely-dialog-background-position, 0 0, 3.125rem 3.125rem);
	background-size: var(--novely-dialog-background-size, 6.25rem 6.25rem);

	display: flex;
	flex-wrap: nowrap;

	padding-bottom: 2.8rem;
}

.action-dialog-person {
	max-height: 25vh;
	max-width: 25vw;
}

.action-dialog-name,
.action-dialog-content {
	display: block;
	padding: 1vmin;
	margin: 0;
}

.action-dialog-name {
	font-size: 1.4375rem;
	line-height: 1.2;

	background: #ffffff;
	border-radius: 0.438rem 0.438rem 0 0;

	width: -moz-fit-content;
	width: fit-content;
	margin-left: 5vmin;

	box-shadow: 0.063rem 0.063rem 0.18rem #00000042;
}

.action-dialog-content {
	width: 100%;

	font-size: 2.2375rem;
	line-height: 1.2;

	word-wrap: break-word;
	word-break: break-word;

	/* prettier-ignore */
	text-shadow: 0.063rem 0.063rem 0 black, -0.063rem -0.063rem 0 black, 0.063rem -0.063rem 0 black, -0.063rem 0.063rem 0 black;
}

/**
 * className cannot be applied to these elements
 */
.action-dialog-person > canvas,
.action-dialog-person > img {
	max-height: 100%;
	max-width: 100%;

	object-fit: contain;
}

@media (max-aspect-ratio: 0.8) {
	.action-dialog {
		width: 100%;
		bottom: 0;
		left: unset;
		transform: unset;
	}

	.action-dialog-name {
		font-size: 1.02rem;
	}

	.action-dialog-content {
		font-size: 1.32rem;
	}

	.action-dialog-container {
		border-radius: var(--novely-dialog-border-radius, .875rem .875rem 0 0);
	}

	.action-dialog-content {
		text-shadow: none;
	}
}

/**
 * Because characters are get small in super-duper-wide screens we lock height of the dialog to 50vh and move characters higher
 *
 * This is much simplier than computing clientHeight of `.action-dialog-container`, and looks better
 * because nothing "jumps". But there 100% will be problems if text will be too long.
 */
@media (max-aspect-ratio: 0.26) {
	.action-dialog {
		height: unset;
	}

	.action-dialog-container {
		height: 50vh !important;
	}
}

@media only screen and (min-aspect-ratio: 0.8) and (pointer: coarse) {
	.action-dialog-content {
		font-size: 1.32rem;
		line-height: 1.15;
	}

	.action-dialog-content {
		text-shadow: none;
	}
}
