.settings__column {
	display: flex;

	align-items: center;
	justify-content: center;

	flex-direction: column;

	flex-wrap: wrap;
}

.settings__column-grid {
	width: 100%;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  justify-content: center;
  align-items: center;
}

@media (max-aspect-ratio: 0.8) {
	.settings__column-grid {
		grid-template-columns: 1fr;
	}
}
