.settings {
  padding: 0 1rem;
  gap: 1rem;

  overflow: hidden;
  background-image: var(--novely-settings-background-image);

  display: flex;
}

@media (orientation: portrait) {
  .settings {
    flex-direction: column-reverse;
  }
}
