.background {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-color: var(--background-color, black);
	background-image: var(--background-image);

	width: 100vw;
	height: 100vh;

	position: fixed;
	z-index: 1;
}
