.headlessDialog {
  position: fixed;
  inset: 0;
  z-index: 20;
  overflow-y: auto;
}

.headlessDialogContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headlessDialogFix {
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
}

.headlessDialogPanel {
  text-align: left;
  z-index: 21;

  width: 100%;
  max-width: 40vw;
  min-height: 40vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (max-width: 768px) {
  .headlessDialogPanel {
    max-width: 95vw;
  }
}

/* @modifiers */

.inputDialogLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1.2375em;

  width: 100%;
}

.inputDialogLabel > span {
  margin: 0.4em 0;
  min-height: 1em;
  min-height: 1lh;
}

.inputDialogPanel {
  justify-content: center;
  align-items: center;

  color: rgb(255, 255, 255);

  border: 3px solid #ffffff;
  border-radius: 14px;
  box-shadow: 1px 1px 4px #00000072;

  /* prettier-ignore */
  background-image: radial-gradient(#d6608998 20%, transparent 20%), radial-gradient(#d6608998 20%, transparent 20%);
  background-color: #f092b4d8;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}
