.saves {
  position: absolute;
  inset: 0;

  z-index: 1;

  overflow: hidden;

  background-image: var(--novely-saves-background-image);
  display: flex;
}

.saves > .controls {
  width: 30vw;
  height: 100%;
  padding: 0 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.saves > .list {
  width: 100%;
  height: 100%;
  padding: 0 1em;

  display: flex;
  flex-direction: column;
  align-items: center;

  list-style: none;

  overflow-y: scroll;
}

.saves > .list > li {
  display: flex;
}

@media (max-width: 768px) {
  .saves {
    flex-direction: column;
  }

  .saves > .controls {
    width: auto;
    height: auto;
  }

  .saves > .list {
    height: auto;
  }
}
