.saves {
  position: absolute;
  inset: 0;

  z-index: 1;

  overflow: hidden;

  display: flex;
}

.saves > .controls {
  width: 30vw;
  height: 100%;
  padding-left: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.saves > .list {
  width: 100%;
  height: 100%;
  padding-left: 1em;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  list-style: none;
}

.saves > .list > li {
  display: flex;
}
