/* Root */
.root {
  height: 100vh;
  font-size: 1em;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Dialog */

.dialog__name,
.dialog__text {
  display: block;
  padding: 1vmin;
  margin: 0;
}

.dialog__name {
  font-size: 1.4375em;
  line-height: 1.2;

  background: #ffffff;
  border-radius: 7px 7px 0 0;

  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5vmin;

  box-shadow: 1px 1px 3px #00000042;
}

.dialog__text {
  font-size: 2.2375em;
  line-height: 1.2;
  width: 100%;

  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

.dialog__person > canvas,
.dialog__person > img {
  height: 100%;
}

/* Choices & Input */

.choices,
.input {
  position: fixed;
  inset: 0;
  z-index: 2;
  overflow-y: auto;
}

.choices__container,
.input__container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choices__f,
.input__f {
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
}

.choices__dialog-panel,
.input__dialog-panel {
  text-align: left;
  z-index: 3;

  width: 100%;
  max-width: 40vw;
  min-height: 40vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (max-width: 768px) {
  .choices__dialog-panel,
  .input__dialog-panel {
    max-width: 95vw;
  }

  .dialog__text,
  .dialog__name {
    font-size: 1.02em;
  }
}

/* Input */

.input__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1.2375em;

  width: 100%;
}

.input__label > span {
  margin: 0.4em 0;
  min-height: 1em;
  min-height: 1lh;
}

.input__dialog-panel {
  justify-content: center;
  align-items: center;

  color: rgb(255, 255, 255);

  border: 3px solid #ffffff;
  border-radius: 14px;
  box-shadow: 1px 1px 4px #00000072;

  /* prettier-ignore */
  background-image: radial-gradient(#d6608998 20%, transparent 20%), radial-gradient(#d6608998 20%, transparent 20%);
  background-color: #f092b4d8;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

/* @module: mainmenu.tsx */
/* MainMenu */

.mainMenu {
  position: absolute;
  inset: 0;

  z-index: 1;

  overflow: hidden;
}

.mainMenu > .controls {
  width: 30vw;
  height: 100%;
  padding-left: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainMenu > .controls > button {
  width: 100%;
  font-size: 1.02em;
}

/* @module: saves.tsx */
/* Saves */

.saves {
  position: absolute;
  inset: 0;

  z-index: 1;

  overflow: hidden;

  display: flex;
}

.saves > .controls {
  width: 30vw;
  height: 100%;
  padding-left: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.saves > .controls button,
.saves button.button {
  width: 100%;
  font-size: 1.02em;
}

.saves > .list {
  width: 100%;
  height: 100%;
  padding-left: 1em;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  list-style: none;
}

.saves > .list > li {
  display: flex;
}
