.settings__options {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (max-aspect-ratio: 0.8) {
	.settings__options {
		flex-grow: unset;
	}
}
