.settings__options {
	width: 100%;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  justify-content: center;
  align-items: center;
}

@media (max-aspect-ratio: 0.8) {
	.settings__options {
		grid-template-columns: 1fr;
	}
}
