.action-text {
	position: fixed;
	inset: 0;
	z-index: 2;

	max-width: 100%;
	max-width: 100vw;

	display: none;

	text-align: center;
	font-size: 1.5rem;
}

.action-text[data-shown='true'] {
	display: flex;
	align-items: center;
	justify-content: center;

	background: var(--novely-fullscreen-background-color, rgba(0, 0, 0, 0.3));

	text-shadow: var(--novely-fullscreen-text-shadow, 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5));
	color: var(--novely-fullscreen-text-color, white);
}

.action-text[data-shown='true'] > span {
	cursor: pointer;

	word-wrap: break-word;
	word-break: break-word;
}

.action-text[data-shown='true']:focus-visible > span {
	text-decoration: underline;
}

.action-text,
.action-text > span {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	touch-action: none;
}
