.saves {
	padding: 0 1rem;
	gap: 1rem;

	overflow: hidden;

	background-image: var(--novely-saves-background-image);
	display: flex;
}

@media (max-aspect-ratio: 0.8) {
	.saves {
		flex-direction: column-reverse;
	}
}

@media (max-aspect-ratio: 0.26) {
	.saves {
		padding: 0 0.1rem;
	}
}
