.exit-dialog {
	justify-content: center;
	align-items: center;

	color: var(--novely-exit-dialog-color, #ffffff);

	border: var(--novely-exit-dialog-border-width, 0.15rem) solid var(--novely-exit-dialog-border-color, #ffffff);
	border-radius: var(--novely-exit-dialog-border-radius, 0.4rem);
	box-shadow: var(--novely-px) var(--novely-px) 0.2rem var(--novely-exit-dialog-box-shadow-color, #00000072);

	background-image: var(--novely-exit-dialog-background-image, none);
	background-color: var(--novely-exit-dialog-background-color, #f092b4df);
	background-position: var(--novely-exit-dialog-background-position);
	background-size: var(--novely-exit-dialog-background-size);
}

.exit-dialog-buttons {
	display: flex;
	gap: 0.5rem;
}

@media (max-aspect-ratio: 0.26) {
	.exit-dialog-buttons {
		flex-direction: column;
	}
}
