.exit-dialog-panel {
	justify-content: center;
	align-items: center;

	color: var(--novely-exit-dialog-color, #ffffff);

	border: var(--novely-exit-dialog-border-width, 3px) solid var(--novely-exit-dialog-border-color, #ffffff);
	border-radius: var(--novely-exit-dialog-border-radius, 14px);
	box-shadow: 1px 1px 4px var(--novely-exit-dialog-box-shadow-color, #00000072);

	/* prettier-ignore */
	background-image: var(--novely-exit-dialog-background-image, radial-gradient(#d6608998 20%, transparent 20%), radial-gradient(#d6608998 20%, transparent 20%));
	background-color: var(--novely-exit-dialog-background-color, #f092b4d8);
	background-position: var(--novely-exit-dialog-background-position, 0 0, 50px 50px);
	background-size: var(--novely-exit-dialog-background-size, 100px 100px);
}

.exit-dialog-panel-buttons {
	display: flex;
	gap: 0.5rem;
}
