.exit-dialog-panel {
	justify-content: center;
	align-items: center;

	color: rgb(255, 255, 255);

	border: 3px solid #ffffff;
	border-radius: 14px;
	box-shadow: 1px 1px 4px #00000072;

	/* prettier-ignore */
	background-image: var(--novely-dialog-background-image, radial-gradient(#d6608998 20%, transparent 20%), radial-gradient(#d6608998 20%, transparent 20%));
	background-color: var(--novely-dialog-background-color, #f092b4d8);
	background-position: var(--novely-dialog-background-position, 0 0, 50px 50px);
	background-size: var(--novely-dialog-background-size, 100px 100px);
}

.exit-dialog-panel-buttons {
	display: flex;
	gap: 0.5rem;
}
