.novely-choices {
  width: 40vw;
  min-height: 40vh;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);

  z-index: 2;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.novely-choices > button {
  background-color: #ffe6f4;
  border: 3px solid #ffbde1;
  padding: 0.5em 1em;
  margin: 0.7em;
}

.novely-choices > button:hover {
  background-color: #ffbde1;
  border-color: #f1b2d2;
  cursor: pointer;
}

.novely-choices > button[aria-disabled="true"] {
  background-color: #dbdbdb;
  border: 3px solid #bfbfbf;
  padding: 0.5em 1em;
  margin: 0.7em;
}

.novely-choices > button[aria-disabled="true"]:hover {
  background-color: #d8d8d8;
  border-color: #8c8c8c;
}
