.novely-input {
  width: 40vw;
  min-height: 40vh;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);

  z-index: 3;

  overflow: hidden;

  background: #ffe6f4;
  border: 4px solid #ffbde1;
  border-radius: 4px;
  box-shadow: 1px 1px 14px #ffe6f448;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.novely-input > label {
  display: flex;
  flex-direction: column;
}
