*, *::before, *::after {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-select: none;
  user-drag: none;
  user-select: none;
  touch-action: none;
  cursor: default;
}

*::selection {
  background: transparent;
}

.saves__button-load {
  touch-action: auto !important;
}

.saves__list-item, .saves__list-item__load, .saves__list-item__iframe, .saves__list-item__description, .saves__list-item__description *, .button.saves__button-reset {
  touch-action: auto !important;
}

.action-text > span {
  cursor: default;
}

.moment-presser-button {
  cursor: default;
}
