.main-menu {
  overflow: hidden;
  background-image: var(--novely-main-menu-background-image);

  padding: 0 1rem;

  display: grid;
  align-content: center;
}

@media (orientation: landscape) {
  .main-menu {
    justify-content: start;
  }
}
