.main-menu {
	overflow: hidden;
	background-image: var(--novely-main-menu-background-image);

	padding: 0 1rem;

	display: flex;
}

@media (max-aspect-ratio: 0.8) {
	.main-menu {
		flex-direction: column;

		justify-content: center;
	}
}
