.main-menu {
	overflow: hidden;
	background-image: var(--novely-main-menu-background-image);

	padding: 0 1rem;

	display: grid;
	align-content: center;
}

@media (min-aspect-ratio: 0.8) {
	.main-menu {
		justify-content: start;
	}
}
