/* Characters */

.characters {
  position: absolute;
  inset: 0;

  z-index: 1;

  overflow: hidden;
}

.characters > canvas[style] {
  position: absolute;
  bottom: 0;

  height: 85vmin;
  max-height: 70vh;
}

/* Dialog */
.dialog {
  min-height: 25vh;
  max-height: 30vh;
  width: 75%;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.2em;
  z-index: 10;

  text-align: left;

  flex-direction: column;

  cursor: default;
  user-select: none;
}

.dialog__container {
  width: 100%;
  height: 100%;
  max-height: 25vh;

  color: rgb(255, 255, 255);

  border: 3px solid #ffffff;
  border-radius: 14px;
  box-shadow: 1px 1px 4px #00000072;

  /* prettier-ignore */
  background-image: radial-gradient(#d6608998 20%, transparent 20%), radial-gradient(#d6608998 20%, transparent 20%);
  background-color: #f092b4d8;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 10vmax 1fr;
}

.dialog__name,
.dialog__text {
  display: block;
  padding: 1vmin;
  margin: 0;
}

.dialog__name {
  font-size: 1.4375em;
  line-height: 1.2;

  background: #ffffff;
  border-radius: 7px 7px 0 0;

  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5vmin;

  box-shadow: 1px 1px 3px #00000042;
}

.dialog__text {
  font-size: 2.2375em;
  line-height: 1.2;
  width: 100%;

  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

.dialog__person {
  max-height: 25vh;
  max-width: 25vw;
}

.dialog__person > canvas,
.dialog__person > img {
  height: 100%;
}

/* Choices & Input */

.choices,
.input {
  position: fixed;
  inset: 0;
  z-index: 2;
  overflow-y: auto;
}

.choices__container,
.input__container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choices__f,
.input__f {
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
}

.choices__dialog-panel,
.input__dialog-panel {
  text-align: left;
  z-index: 3;

  width: 100%;
  max-width: 40vw;
  min-height: 40vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.choices__dialog-panel > button,
.input__dialog-panel > button {
  background-color: #ffe9f3;
  border: 4px solid #ffc7df;

  margin: 0.4em 0;
  padding: 0.4em;

  font-size: 1.8375em;
  line-height: 1.2;

  cursor: pointer;
}

.choices__dialog-panel > button:hover,
.input__dialog-panel > button:hover {
  background-color: #ffffff;
  border-color: #ffc6d8;
  color: #ffb7a2;
}

.choices__dialog-panel > button[aria-disabled="true"],
.input__dialog-panel > button[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .choices__dialog-panel,
  .input__dialog-panel {
    max-width: 95vw;
  }

  .dialog__text,
  .dialog__name,
  .choices__dialog-panel > button {
    font-size: 1.02em;
  }

  .dialog {
    width: 98%;
    left: unset;
    transform: unset;
  }
}

/* Input */

.input__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1.2375em;

  width: 100%;
}

.input__label > span {
  margin: 0.4em 0;
  min-height: 1em;
  min-height: 1lh;
}

.input__dialog-panel {
  justify-content: center;
  align-items: center;

  color: rgb(255, 255, 255);

  border: 3px solid #ffffff;
  border-radius: 14px;
  box-shadow: 1px 1px 4px #00000072;

  /* prettier-ignore */
  background-image: radial-gradient(#d6608998 20%, transparent 20%), radial-gradient(#d6608998 20%, transparent 20%);
  background-color: #f092b4d8;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

.input__dialog-panel > button {
  font-size: 1.2375em;
  padding: 0.4em 0.6em;

  width: -moz-fit-content;
  width: fit-content;
}
