.control-panel {
	z-index: 31;
	position: fixed;

	right: 0.4rem;
	bottom: 0.45rem;
}

.control-panel-container {
	width: 100%;

	display: flex;
	justify-content: end;

	gap: calc(var(--novely-px) * 3);
}

.control-panel-container--center:not(.control-panel-container--wide-open) {
	bottom: calc(var(--novely-dialog-border-width, 0.18rem) + 0.4rem);

	position: fixed;

	left: 50%;
	right: 50%;

	transform: translateX(-50%);

	justify-content: center;
}

.control-panel-container--wide-closed {
	display: none;
}

.control-panel-container--wide-open {
	display: flex;
	flex-direction: column;

	position: fixed;
	z-index: 31;

	left: 0.4rem;
	bottom: 0.4rem;

	width: calc(100% - 0.4rem * 2);
}

.control-panel-container-backdrop {
	position: fixed;
	inset: 0;

	z-index: 23;

	background-color: var(--novely-control-panel-container-backdrop-background-color, #1616166c);
}

.control-panel-container-fix {
	display: inline-block;
	height: 100vh;
	vertical-align: middle;
}

@media (max-aspect-ratio: 0.8) and ((min-aspect-ratio: 0.26) or (max-aspect-ratio: 0.1)) {
	.control-panel {
		left: 0.4rem;
		bottom: 0.4rem;
	}
}
