.select__select {
	background-color: var(--novely-select-background-color, #ffe9f3);
	color: var(--novely-select-color, #000);

	border: none;

	box-shadow: 0 0 0 var(--select-box-shadow-spread-radius, 0.25rem) var(--novely-select-border-color, #ffc7df);

	margin: calc(var(--select-box-shadow-spread-radius, 0.25rem) + 0.4rem) var(--select-box-shadow-spread-radius, 0.25rem);
	padding: 0.4rem;

	font-size: 1rem;

	max-width: 100%;

	border-radius: .25rem;
}

@supports (-webkit-appearance: none) {
	.select__select {
		appearance: none;

		padding-right: 1.5rem;

		/* Chevron Down */
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M15.25 10.75 12 14.25l-3.25-3.5'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: calc(100%) 50%;
	}
}

@media (max-aspect-ratio: 0.8) {
	.select__select {
		min-width: calc(70% - var(--select-box-shadow-spread-radius, 0.25rem) * 2);
	}
}

@media (max-aspect-ratio: 0.26) {
	.select__select {
		min-width: 100%;
	}
}
