.select__select {
  background-color: var(--novely-select-background-color, #ffe9f3);
  border: 4px solid var(--novely-select-border-color, #ffc7df);
  color: var(--novely-select-color, #000);

  margin: 0.4rem 0;
  padding: 0.4rem;

  font-size: 1.02rem;
}