.select__select {
	background-color: var(--novely-select-background-color, #ffe9f3);
	color: var(--novely-select-color, #000);

	border: none;

	box-shadow: 0 0 0 var(--select-box-shadow-spread-radius, 0.25rem) var(--novely-select-border-color, #ffc7df);

	outline-offset: var(--select-box-shadow-spread-radius, 0.25rem);

	margin: calc(var(--select-box-shadow-spread-radius, 0.25rem) + 0.4rem)
		var(--select-box-shadow-spread-radius, 0.25rem);
	padding: 0.4rem;

	font-size: 1rem;

	width: calc(100% - (var(--select-box-shadow-spread-radius, 0.25rem) * 2));

	border-radius: .25rem;
}

@supports (-webkit-appearance: none) {
	.select__select {
		appearance: none;

		padding-right: 2rem;
	}
}
