.saves__button {
	min-width: 30vw;
}

.saves__button-load {
	width: 100%;
	touch-action: auto !important;
}

.saves__button-reset {
	--button-box-shadow-spread-radius: 0.15rem;

	border-radius: 0.4rem;
	margin: 0;
}

@media (max-aspect-ratio: 0.8) {
	.saves__button {
		min-width: calc(100% - calc(var(--button-box-shadow-spread-radius, 0.25rem) * 2));
	}

	.saves__button-load {
		margin-bottom: 0;
	}

	.saves__button-reset {
		margin-top: 0.25rem;
	}
}

@media (max-aspect-ratio: 0.26) {
	.saves__button-load {
		display: flex;
		flex-direction: column;
	}
}
