.settings__controls {
	display: flex;

	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: wrap;

	padding-block-start: 1rem;
}

@media (max-aspect-ratio: 0.8) {
	.settings__controls {
		padding-block-end: 1rem;
	}
}
