.action-image {
	position: fixed;
	z-index: 1;
	inset: 0;
}

.action-image__image-container {
	position: absolute;
	z-index: var(--z-index, 1);
}

.action-image__image-container,
.action-image__image {
	width: 100vw;
	height: 100vh;
}

.action-image__image {
	object-fit: cover;
	object-position: 50% 50%;
}
