.characters {
	width: 100vw;
	height: 100vh;

	overflow: hidden;

	display: flex;
	align-items: flex-end;
	justify-content: center;

	position: fixed;
	z-index: 3;

	pointer-events: none;
}

.characters > div {
	background-image: var(--background-image);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;

	position: relative;

	min-width: unset;

	max-height: 85%;
	max-width: calc(100% / max(2, var(--shown-characters-count)));
}

@media (max-aspect-ratio: 0.26) {
	.characters {
		padding-block-end: 50vh;
	}
}
