.characters {
	width: 100vw;
	height: 100vh;

	overflow: hidden;

	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.characters > canvas {
	position: relative;

	min-width: unset;

	max-height: 85%;
	max-width: 50%;
}

@media (max-aspect-ratio: 0.26) {
	.characters {
		padding-bottom: 50vh;
	}
}
